h1{
    margin:auto;
    text-align:center;
  }
  h2{
    margin:auto;
    text-align:center;
  }
  /*Dua Lipa Main Image*/
  img{
    display:block;
  }
  #image{
    max-width:100%;
    height:auto;
    margin:auto;
  }
  #img-caption{
    margin:auto;
    text-align:center;
  }
  #tribute-info{
    margin:auto;
    text-align:center;
  }
  
  #tribute-info > ul > li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align:center;
    height: 20%;
    margin:0;
    padding:0;
    list-style:none;
    padding-right:35px;
  }
  
  
  