*{
    background-color: rgba(240,203,221,255);
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}
h1{
    margin:auto;
    text-align:center;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  h2{
    margin:auto;
    text-align:center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  footer{
    text-align: center;
  }
  /*Dua Lipa Main Image*/
  img{
    display:block;
  }
  #image{
    max-width:100%;
    height:auto;
    margin:auto;
    border:solid #eff0cb;
    object-fit: cover;
    margin-top: 8px;
    border-radius: 10px;
    transition: transform .5s ease;
  }
  /*End of Dua Lipa Main Image*/

  /*Caption under main image*/
  #img-caption{
    margin:auto;
    text-align:center;
  }
  /*This area contains all the portfolio items*/
  #tribute-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    
  }

  #tribute-gallery img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 10px;
    border:solid #eff0cb;
    overflow:hidden;
    transition: transform .5s ease;
  }
  /*Spotify player*/
  #spotify-dualipa{
    width:100%;
    text-align: center;
    padding-top: 65px;
  }
  #tribute-gallery img:hover{
    border:solid #cbf0cd;
    transform: scale(1.4);
    cursor: pointer;
  }
  #image:hover{
    border:solid #cbf0cd;
    transform: scale(1.25);
    cursor: pointer;
    overflow: hidden;
  }
  @media (max-width: 800px) {
    #tribute-gallery  img {
      width: 50%;
    }
  }
  
  @media(max-width: 600px){
    #tribute-gallery  img{
      width:100%;
    }
  }
  /*ends here*/
  
  
  